body {
    font-family: Arial;
    background: linear-gradient(135deg, #eec1b1 0%, #f5ddba 100%, #eabeae 100%);
}

a {
    text-decoration: none;
    color: rgb(27, 27, 27);
}
img {
    display: inline-block;
    width: 100%;
}
::-webkit-scrollbar {
    /*隱藏滾輪*/
    display: none;
}
