@import "./mixin.scss";
@import "./media.scss";
.home {
    background: url("https://images.pexels.com/photos/271458/pexels-photo-271458.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2000")
        center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    section:first-child {
        min-height: 100vh;
    }
}

.home-banner {
    background-image: url("https://static.wixstatic.com/media/82fcd3_b176d276fee14ce5b59b94ab3ed98de5~mv2.jpg/v1/fill/w_1225,h_871,al_b,q_85,usm_0.66_1.00_0.01/82fcd3_b176d276fee14ce5b59b94ab3ed98de5~mv2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
}

.home-banner-content {
    position: absolute;
    top: 30%;
    left: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    line-height: 1.2;
    font-weight: bold;
    button {
        margin-top: 15px;
        width: 100px;
    }
}

.home-course,
.home-teacher {
    position: relative;
    h5 {
        text-align: center;
        font-size: 28px;
        padding: 15px;
        color: #fff;
        font-weight: bold;
        background-color: #ee8d84d5;
    }
}

.home-course .content {
    padding: 30px;
    ul {
        display: flex;
    }
    li {
        position: relative;
        width: 100%;
        p {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255, 255, 255);
            font-size: 20px;
            text-align: center;
            line-height: 2;
            z-index: 1;
            font-weight: bold;
            letter-spacing: 1.5px;
            white-space: nowrap;
            text-shadow: 1px 1px 5px rgb(0, 0, 0);
        }
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }
    }
}

.home-teacher .content {
    padding: 30px;
    > ul > li {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            width: 150px;
            height: 150px;
            display: block;
            object-fit: cover;
            object-position: top;
        }
        .teacher-content {
            width: 300px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.2;
        }
        &:nth-child(even) {
            transform: translateX(100px);
        }
        &:nth-child(odd) {
            transform: translateX(-100px);
        }
    }
    li + li {
        margin-top: 10px;
    }
    li:nth-child(even) {
        img {
            order: 1;
        }
    }
    li:nth-child(odd) {
        .teacher-content {
            order: 1;
        }
    }
}

.home-info {
    background-color: #f78177;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: #fff;
    > div {
        i {
            font-size: 20px;
            margin-top: 15px;
        }
        i + i {
            margin-left: 10px;
        }
    }
    label {
        display: flex;
        width: 250px;
        button {
            border: 1px solid #fff;
        }
    }
    ul {
        line-height: 1.5;
    }
}

@include desktop-middle() {
    .home-info {
        flex-direction: column;
        font-size: 14px;
        > div {
            margin-bottom: 20px;
        }
    }
}

@include pad() {
    .home-teacher .content {
        > ul > li {
            &:nth-child(even) {
                transform: translateX(0px);
            }
            &:nth-child(odd) {
                transform: translateX(0px);
            }
        }
    }
}

@include mobile() {
    .home-course .content {
        ul {
            display: flex;
            flex-direction: column;
        }
    }
    .home-banner-content {
        left: 10px;
        right: 10px;
    }
}
