@import "./media.scss";
.member {
    padding: 60px 10px;
    .sidebar-cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        background-image: url("~@/assets/images/board.jpg");
        opacity: 0.3;
    }
    > main {
        max-width: 1024px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.85);
    }
    .member-title {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        border: 1.5px solid #8a5013;
        border-bottom: 0px solid #000;
        letter-spacing: 1.5px;
    }
    .member-wrapper {
        display: flex;
    }
    .member-sidebar {
        border: 1.5px solid #8a5013;
        border-right: 0px solid #000;
        font-weight: bold;
        li {
            padding: 10px 20px;
            cursor: pointer;
        }
        li a:hover,
        li a.active {
            color: #f78177;
        }
    }
    .member-content {
        border: 1.5px solid #8a5013;
        flex: 1;
        padding: 20px;
        min-height: calc(100vh - 270px);
    }
}

@include desktop-middle() {
    .member {
        padding: 45px 0 0 0;
        > main {
            min-height: calc(100vh - 45px);
            .member-wrapper {
                min-height: calc(100vh - 45px);
            }
            .member-sidebar {
                position: fixed;
                display: flex;
                justify-content: center;
                background-color: #fff;
                z-index: 1;
                bottom: 0;
                left: 100px;
                right: 0;
                font-size: 14px;
                li {
                    padding: 5px 10px;
                }
            }
        }
    }
}
@include pad() {
    .member {
        > main {
            .member-sidebar {
                left: 0px;
                background-color: #FEF9F4;
            }
        }
    }
}
@include mobile() {
    .member {
        .member-title {
            font-size: 16px;
        }
    }
}
